Development of Windows Apps/lista9/XMLFile1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ListaStudentow">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Student">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="AdresStaly">
                <xs:complexType>
                  <xs:attribute name="miasto" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="AdresTymczasowy">
                <xs:complexType>
                  <xs:attribute name="miasto" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="ListaZajec">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Przedmiot">
                      <xs:complexType>
                        <xs:attribute name="nazwa" type="xs:string" use="required" />
                        <xs:attribute name="ocena" type="xs:int" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="imie" type="xs:string" use="required" />
            <xs:attribute name="nazwisko" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="nazwa" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>